@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ofm0z6');
  src:  url('fonts/icomoon.eot?ofm0z6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ofm0z6') format('truetype'),
    url('fonts/icomoon.woff?ofm0z6') format('woff'),
    url('fonts/icomoon.svg?ofm0z6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dangguan:before {
  content: "\e600";
}
.icon-dangjian:before {
  content: "\e601";
}
.icon-dengji:before {
  content: "\e602";
}
.icon-guofang:before {
  content: "\e603";
}
.icon-ruwu:before {
  content: "\e604";
}
.icon-shequ:before {
  content: "\e605";
}
.icon-zhidu:before {
  content: "\e606";
}
.icon-password:before {
  content: "\e607";
}
.icon-map:before {
  content: "\e608";
}
.icon-rexian:before {
  content: "\e609";
}
.icon-wenda:before {
  content: "\e60a";
}
.icon-yijian:before {
  content: "\e60b";
}
.icon-chaxun:before {
  content: "\e60c";
}
.icon-dangshiren:before {
  content: "\e60d";
}
.icon-dui:before {
  content: "\e60e";
}
.icon-edit:before {
  content: "\e60f";
}
.icon-fagui:before {
  content: "\e610";
}
.icon-faxian:before {
  content: "\e611";
}
.icon-home:before {
  content: "\e612";
}
.icon-jia:before {
  content: "\e613";
}
.icon-jinrong:before {
  content: "\e614";
}
.icon-jiufen:before {
  content: "\e615";
}
.icon-laba:before {
  content: "\e616";
}
.icon-left:before {
  content: "\e617";
}
.icon-more:before {
  content: "\e618";
}
.icon-muban:before {
  content: "\e619";
}
.icon-panjue:before {
  content: "\e61a";
}
.icon-picture:before {
  content: "\e61b";
}
.icon-police:before {
  content: "\e61c";
}
.icon-remove:before {
  content: "\e61d";
}
.icon-right:before {
  content: "\e61e";
}
.icon-search:before {
  content: "\e61f";
}
.icon-shizhong:before {
  content: "\e620";
}
.icon-user:before {
  content: "\e621";
}
.icon-weituo:before {
  content: "\e622";
}
.icon-wenjian:before {
  content: "\e623";
}
.icon-xinwen:before {
  content: "\e624";
}
.icon-xinyong:before {
  content: "\e625";
}
.icon-yuyue:before {
  content: "\e626";
}
